/*
 * .base-search-component
 */

@color-selected: #f1edda;
@color-hover: #e5ecf1;

.base-search-component {
  width: auto;
}

.search-input {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
  background: #ededed url(../img/search.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 4px 10px 4px 32px;
  width: 55px;
  border-radius: 10em;
  transition: all .3s;
  outline: none;
  &.small {
    width: 0;
    padding-right: 2px;
  }
}

.search-input::-webkit-search-decoration,
.search-input::-webkit-search-cancel-button {
  display: none;
}

.search-input:focus {
  width: 130px;
  background-color: #fff;
  border-color: #40e8f0;
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}
.search-input:-moz-placeholder {
  color: #999;
}
.search-input::-webkit-input-placeholder {
  color: #999;
}

/*
 * color picker
 */

.picker-container {
  z-index: 10;
  position: fixed;
  width: auto;
  padding: 5px;
  background-color: white;
  float: left;
  border-radius: 5px;
  .picker {
    width: 150px;
    height: 150px;
  }
  .slide {
    width: 15px;
    height: 150px;
  }
  .slide-wrapper {
    margin-left: 5px;
  }
  .picker-indicator {
    width: 1px;
    height: 1px;
    border: 1px solid black;
    background-color: white;
  }
  .slide-indicator {
    width: 100%;
    height: 2px;
    left: 0;
    background-color: black;
  }
}

.picker-wrapper,
.slide-wrapper {
  position: relative;
  float: left;
}

.picker-indicator,
.slide-indicator {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}
.picker,
.slide {
  cursor: default;
  float: left;
}

/* autocomplete */

.autocomplete {
  display: flex;
  position: absolute;
  bottom: 13px;
  width: 150px;
  height: auto;
  max-height: 7.5rem;
  background: #fff;
  border-radius: 6px;
  margin-left: 19px;
  flex-flow: column;
  overflow-y: auto;
  transition: height .3s ease-out;
}

.autocomplete .subgroup {
  font-size: 12px;
  line-height: 12px;
  display: inline-block;
  width: 100%;
  float: left;
}

.autocomplete .title-subgroup {
  text-align: left;
  display: inline-block;
  color: #444;
  font-weight: bold;
  margin-left: 8px;
  padding: 5px 0;
  margin-top: 3px;
}

.autocomplete .items {
  font-size: 11px;
  margin: 0;
  padding: 0;
  color: #444;
}

.autocomplete .item {
  padding: 3px 2px 3px 15px;
  &:hover {
    background: @color-hover;
    cursor: pointer;
  }
}

/* popover + overlay */
.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  &.transparent {
    opacity: 0;
  }
}

.popover {
  display: flex;
  position: absolute;
  top: ~'calc(50% - 200px)';
  left: ~'calc(50% - 400px)';
  width: 800px;
  min-height: 450px;
  height: auto;
  z-index: 3;
  background: #fff;
  color: #444;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 6px;
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: scale(0);
  opacity: 0;
  flex-wrap: wrap;
  flex-flow: column;
  &.active {
    transform: scale(1);
    opacity: 1;
  }
}

.popover-header {
  display: flex;
  height: 24px;
  justify-content: space-between;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  line-height: 24px;
  padding-top: 4px;
  margin-bottom: 8px;
  letter-spacing: 0;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}

.popover-content {
  display: flex;
  flex: 1;
}

.popover-footer {
  display: flex;
  align-items: flex-end;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  justify-content: flex-end;
}

.popover-footer .material-button {
  margin: 0 5px;
  cursor: pointer;
  &.submit {
    color: @blue;
  }
}

/* popover menu */

.popover-header .menu-container {
  font-size: 11px;
}

.menu-container .menu-item {
  margin-left: 3px;
  cursor: pointer;
  .fa {
    margin: 0 3px;
  }
}

.menu-item.selected {
  color: @blue;
  cursor: default;
}

/* */
.popup {
  display: none;
  position: absolute;
  top: 0;
  left: 30vw;
  width: 300px;
  height: 300px;
  opacity: 0;
  transition: all .3s ease-out;
  &.active {
    display: flex;
    opacity: 1;
  }
}

/* tags */
.tags {
  list-style: none;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
  margin-bottom: 8px;
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin-right: 5px;
  text-decoration: none;
  transition: color 0.2s ease-out;
  cursor: default;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: @blue;
  color: white;
}

.tag:hover::after {
  border-left-color: @blue;
}

.tag.new {
  padding: 0 10px;
  &:before {
    display: none;
  }
  &:hover,
  &:focus {
    input {
      color: #fff;
    }
    ::-webkit-input-placeholder { /* WebKit browsers */
      color:    #fff;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color:    #fff;
      opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:    #fff;
      opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
      color:    #fff;
    }
  }
  &.failure {
    background: @dark-red;
    color: #fff;
    &::after {
      color: #fff;
      border-left-color: @dark-red;
    }
    input {
      color: #fff;
    }
  }
}

.tag .input-new-tag {
  border: 0;
  box-shadow: none;
  background: transparent;
  width: 50px;
  transition: width .3s ease-out;
  &:focus {
    width: 100px;
    border: 0;
    box-shadow: none;
  }
}
